.homePage-container{
    background-color: #000;
    min-height: 100vh;
}
.homePageContent-container{
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    min-height: 100svh;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 25px;
}
.homePage-heading{
    font-size: 29px;
    margin-bottom: 15px;
}
.homePage-para{
    font-size: 16px;
    margin-bottom: 15px;
    margin-bottom: 25px;
}
.findJobBtn{
    font-size: 13px;
    font-weight: 600;
    background-color: #6366f1;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-start;
}

@media (min-width:768px) {
    .homePageContent-container{
        background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 250px 45px;
    }
    .homePage-heading{
        font-size: 31px;
        margin-bottom: 15px;
    }
    .homePage-para{
        font-size: 20px;
        margin-bottom: 15px;
        margin-bottom: 25px;
        width: 70%;
        line-height: 1.3;
    }
    .findJobBtn{
        font-size: 15px;
        font-weight: 600;
        background-color: #6366f1;
        width: 95px;
        height: 45px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        align-self: flex-start;
    }
}

@media (min-width:992px) {
    .homePage-heading{
        font-size: 31px;
        margin-bottom: 15px;
    }
    .homePage-para{
        font-size: 20px;
        margin-bottom: 15px;
        margin-bottom: 25px;
        width: 50%;
        line-height: 1.3;
    }
    .findJobBtn{
        font-size: 15px;
        font-weight: 600;
        background-color: #6366f1;
        width: 125px;
        height: 50px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        align-self: flex-start;
    }
}