*{
    color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.LoginPage-container{
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer{
    background-color: #ffffff20;
    padding: 25px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 350px;
    border-radius: 7px;
}
.loginImg-container{
    align-self: center;
    margin-bottom: 30px;
}
.loginImg{
    width: 100px;
}
.input-container{
    margin-bottom: 10px;    
}
.label{
    font-size: 10px;
    font-weight: 600;

}
.input{
    display: block;
    color: #cbd5e1;
    width: 100%;
    margin-top: 5px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #cbd5e1;
}
.loginButton{
    background-color: #6366f1;
    height: 40px;
    width: 100%;
    border-radius: 7px;
    align-self: center;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.loginErrorMsg{
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

@media (min-width:768px) {
    .formContainer{
        padding: 25px 30px 30px 30px;
        width: 75%;
        height: 500px;
        border-radius: 10px;
    }
    .loginImg{
        width: 200px;
    }
    .input-container{
        margin-bottom: 30px;    
    }
    .label{
        font-size: 15px;
        font-weight: 500;  
    }
    .input{
        font-size: 15px;
        margin-top:15px;
        height: 50px;
        border-radius: 5px;
        padding-left: 10px;
        border: 1px solid #cbd5e1;
    }
    .loginButton{
        font-size: 13px;
        background-color: #6366f1;
        height: 50px;
        width: 100%;
        border-radius: 7px;
        align-self: center;
        margin-top: 10px;
        border: none;
        outline: none
    }
    .loginErrorMsg{
        margin-top: 10px;
        font-size: 13px;
    }
}

@media (min-width:992px) {
    .formContainer{
        padding: 25px 30px 30px 30px;
        width: 40%;
        height: 500px;
        border-radius: 10px;
    }
    .loginImg{
        width: 200px;
    }
    .input-container{
        margin-bottom: 30px;    
    }
    .label{
        font-size: 17px;
        font-weight: 500;  
    }
    .input{
        margin-top:15px;
        height: 50px;
        border-radius: 5px;
        padding-left: 10px;
        border: 1px solid #cbd5e1;
    }
    .loginButton{
        font-size: 15px;
        background-color: #6366f1;
        height: 50px;
        width: 100%;
        border-radius: 7px;
        align-self: center;
        margin-top: 10px;
        border: none;
        outline: none
    }
    .loginErrorMsg{
        font-size: 16px;
    }
}